[2020-09-03 11:20] rpartsey opened #1 "ModuleNotFoundError: No module named 'habitat_extensions'"
Hi dear @srama2512
Thanks for open-sourcing your work!

Code snippets from **Maps for occupancy ground-truth generation** and **Maps for evaluating map quality** sections in the `README.md` result in  `ModuleNotFoundError: No module named 'habitat_extensions'` error.

This happens because `OccupancyAnticipation` directory is missing in the `PATH` (check  `sys.path`) during the runtime.

I've overc

[2020-09-03 11:52] rpartsey opened #2 "Train models config directory path"
Shouldn't the model config path in the configs table in the `README.md` **Training models** section contain `model_configs` directory as shown below?
| Model          | Config directory                                                   |
|-----------------|-----------------------------------------------------------------|
| ANS(rgb)      | `configs/model_configs/ans_rgb`                        |
|

[2020-09-03 12:32] rpartsey opened #3 "torch version"
When we follow the `habitat-api` installation instructions https://github.com/facebookresearch/habitat-lab/blob/27483d017210cf710a50ba8061948eab58777202/.circleci/config.yml#L110
then the `torch==1.4.0` will be installed.

But the `OccupancyAnticipation` has the `torch==1.2.0` as it's requirement.

When I use `torch==1.2.0` and try to generate maps I get following error
[code]
When I use `torch==1

[2020-09-03 16:51] srama2512 commented on #1
Whoops. I must have missed it in the instructions. The github repo directory must be added to `PYTHONPATH` in `.bashrc`. Does that fix the issue in your case?

[2020-09-03 16:55] srama2512 commented on #2
The pre-models that are available do not obey this directory structure. The above was just an indication pointing to sample config files for each model. In each case, the paths for the following must be changed based on the user's needs:
[code]

[2020-09-03 17:03] srama2512 commented on #3
This is most likely an issue with the library versions for dependencies of torch-scatter. Here are the versions that currently work for me (same as in requirements.txt):
[code]
The torch_scatter library must be installed after installing the right version of pytorch with the corresponding CUDA (10.0) and CUDNN (v7.4) versions.

I do realize that this is a lower version of pytorch than required in

[2020-09-04 11:49] rpartsey commented on #1
Yes, it will fix the issue.

[2020-09-04 12:05] rpartsey commented on #2
Got it.

In my humble opinion, it's a bit confusing because we have the configs directory in the project root.
And I initially thought that the path is specified relative to the `configs` directory.

Maybe it would be better to add some explanation and angle brackets around `config` like this

| Model          | Config directory                                                   |
|----------------

[2020-09-04 13:39] rpartsey commented on #3
Reinstalled the same library version as specified above

[code]
 but still getting the same error
[code]
I have CUDA (v10.2) and cuDNN (v8.0.3) versions.

I'll continue using `torch==1.4.0` as a workaround.

[2020-09-04 14:37] rpartsey opened #4 "Habitat Challenge evaluation config URL"
It looks like the Habitat Challenge evaluation config URL should be called `ppo_navigation_evaluate.yaml ` instead of `ppo_exploration.yaml`.

See the second table in the **Pretrained models** section of the `README.md`.

[2020-09-04 15:48] rpartsey opened #5 "Checkpoints size"
@srama2512 Could you, please, also give some insights on why the size of the  checkpoints of the same model type vary a lot

For example, let's consider OccAnt(depth):

| README.md     | Model name      | Training data |       Val SPL       | Checkpoint URL | Config URL |  Checkpoint size     |
|-----------------:|:-----------------:|:-------------:|:------------------:|:--------------:|:---------

[2020-09-04 15:55] #1 closed

[2020-09-04 15:58] srama2512 commented on #3
This is likely due to the mismatch in CUDA and cuDNN versions. More details can be found here: https://github.com/rusty1s/pytorch_scatter

I will close this for the moment. Feel free to open it again if any issues persist.

[2020-09-04 15:58] #3 closed

[2020-09-04 16:09] rpartsey opened #6 "Unresolved reference 'eval_ckpt_idx'"
Unresolved reference 'eval_ckpt_idx' in `occant_nav_trainer.py`.
See  https://github.com/facebookresearch/OccupancyAnticipation/blob/bfffc7d31fd8afea0ce195f03407b4b322831f8f/occant_baselines/rl/occant_nav_trainer.py#L479

I guess it should be handled the same way as in the `occant_exp_trainer.py`.
See https://github.com/facebookresearch/OccupancyAnticipation/blob/286ebabb60e4dce878f5871be57e697b5c

[2020-09-04 16:20] srama2512 commented on #2
All paths in the repo are relative the main directory. So, the paths specified are valid paths for example config files. Is it an issue with the pre-trained models?

[2020-09-04 16:21] srama2512 commented on #4
Thanks for catching that! This will be fixed in the next update.

[2020-09-04 16:22] rpartsey opened #7 "Unresolved reference 'draw_collision'"
Looks like the `from habitat.utils.visualizations.utils import draw_collision` is missing in the `habitat_extensions/utils.py`.
See https://github.com/facebookresearch/OccupancyAnticipation/blob/bfffc7d31fd8afea0ce195f03407b4b322831f8f/habitat_extensions/utils.py#L88

Again, I can create a PR if you don't mind.

[2020-09-04 16:31] srama2512 commented on #6
@rpartsey  - Thanks for catching this. Yes, changing `checkpoint_index` to `eval_ckpt_idx` should be the fix. I would appreciate the PR.

[2020-09-04 16:35] rpartsey commented on #2
No no, I just got confused, because the paths specified in the **Config directory** column don't exist.

For example, there is a `configs` directory in the project root, but the path `configs/ans_rgb` doesn't exist (but the path `configs/model_configs/ans_rgb` does exist).

That's why I suggested either change it to the correct path or to add an explanation that the `config` is an indication point

[2020-09-04 16:39] srama2512 commented on #5
Haha, yes. The models have changed over time. The ECCV models were pretty lightweight with the `unet_nsf` value being 16 and the pose estimator being smaller. Since then, I have changed the pose estimator capacity and tuned `unet_nsf` further.

The OccAnt(depth) model in the 1st row is large since `unet_nsf` is 64. If `unet_nsf` is 16 instead, the model would be just 30MB. For the habitat challeng

[2020-09-04 16:43] srama2512 commented on #7
@rpartsey - Again, thanks for catching this! Yes, I would definitely appreciate the PR. :)

[2020-09-04 16:59] srama2512 commented on #2
Oh, got it. The `model_configs` was missing. Yes, I will fix this in my next update. Thanks!

[2020-09-04 17:04] #2 closed

[2020-09-04 17:07] rpartsey commented on #5
@srama2512 Thanks for the explanation :)

Closing the issue as resolved.

[2020-09-04 17:07] #5 closed

[2020-09-12 15:19] rpartsey opened #11 "Replicating Habitat Challenge results"
Hi dear @srama2512
I followed your _README.md_ instructions and were able to run _OccupancyAnticipation_ evaluation using specified configs without any issues.

The only thing I'd like to ask you is to share the _Dockerfile_ and the _agent.py_ you used for _evalai_ evaluation.

I tried to create my own _Dockerfile_ (and _agent.py_) but all my attempts to set up the _python_ environment and install

[2020-09-12 16:43] srama2512 commented on #11
Hi @rpartsey

Unfortunately, I haven't had the chance to create the challenge evaluation script for the latest version of the code. The habitat-api, habitat-sim versions are also not consistent with the challenge version. So I may not be able to provide the script immediately (juggling with a few deadlines).

Coding up the agent should be relatively easy. The code is very similar to the navigation

[2020-09-12 17:06] #7 closed

[2020-09-12 17:07] #6 closed

[2020-09-12 17:23] rpartsey commented on #11
Thanks for the quick reply.
The older version of _Dockerfile_ would be of great help to me.
My email is _partsey2412@gmail.com_.

[2020-09-29 07:31] rainbow979 opened #12 "Occupancy estimate"
There are some bugs. I found that when calculate xyz position of pixels on the ground. The y were very different. But since pixels are on the ground, the y should be same, right? Another question is about the depth images used in your work. The values of pixels in depth images is the distance between real points and camera of agent. What does the distance define? Is it horizontal distance?

[2020-10-03 04:19] srama2512 commented on #12
Could you be a bit more specific? An easily testable example would be helpful.

The depth images define the distance along Z-axis from the camera-plane to the 3D point, not the distance from the camera center to the 3D point. Please check https://github.com/facebookresearch/habitat-sim for more details on how they are rendered.

[2020-10-19 14:48] srama2512 commented on #12
Closing this due to lack of activity. @rainbow979 - please feel free to open it you have more questions in this regard.

[2020-10-19 14:48] #12 closed

[2020-11-11 07:28] srama2512 opened #13 "Bugs in pose sensors Y computation"
There is bug in the Y estimates for the pose sensors. It needs to be

[code]

[here](https://github.com/facebookresearch/OccupancyAnticipation/blob/234b4682fe374e364dd59bd3c98f9ea0006b9c68/habitat_extensions/sensors.py#L1080) and [here](https://github.com/facebookresearch/OccupancyAnticipation/blob/234b4682fe374e364dd59bd3c98f9ea0006b9c68/habitat_extensions/sensors.py#L180). Note that this bug doe

[2020-11-13 12:00] tqace opened #14 "data preparation"
my train.json.gz file is empty，is this supposed to be right？

[2020-11-14 18:49] srama2512 commented on #14
Yes. The data will be contained in `train/content` in that case. Please check the https://github.com/facebookresearch/habitat-lab dataset formats.

[2020-11-17 16:28] #14 closed

[2020-12-11 13:11] vincent341 opened #16 "Regarding creating symlink"
Hi. I'm trying to run the code. I followed your instructions given by the readme. Everything is fine until creating the symlink using the commond

But  I didn't find a "data" directory under the "habitat-api" directory. Did I miss anything? Any suggestion is grateful.

[2020-12-11 18:03] #16 closed

[2020-12-16 02:06] vincent341 opened #17 "CUDA out of memory"
"CUDA out of memory" error occurs during training. Would you mind letting me know the minimum GPU capacity requirement for running the code? Or what capacity of GPU do you suggest to run this code?

[2020-12-16 02:07] vincent341 opened #18 "Questions about local policy"
Q1. It seems that local policy is trained using Imitation Learning/Behavior cloning. Would you mind letting me know where the training data and labels are from for imitation learning?

Q2. I'm not quite clear about the role that local policy plays. Is it possible for the agent to go to long-term goal directed by A* without using local policy?

[2020-12-17 16:42] srama2512 commented on #17
Hi @vincent341,

You might want to change the `num_processes` and `map_batch_size` to fit your requirements. The models were trained on 8 GPUs with 16GB memory each. This allowed training on 36 parallel environments spread throughout the GPUs with DataParallel training for the Mapper.

[2020-12-17 16:42] #17 closed

[2020-12-17 16:45] srama2512 commented on #18
Q1. You can check out the relevant lines [here](https://github.com/facebookresearch/OccupancyAnticipation/blob/4ec7afdb4092a738f73ce7ef7f038735a40ae78b/occant_baselines/rl/ans.py#L691-L704) for how we generate GT actions for imitation. In practice, I did not find a difference b/w RL and IL training. So I just stuck to RL training.

Q2. The A* planner only gives a short-term goal (x, y) to visit. T

[2020-12-20 18:05] srama2512 commented on #18
Closing this after communication over email.

[2020-12-20 18:05] #18 closed

[2020-12-22 13:56] vincent341 commented on #17
Hi @srama2512 ,
Thanks for your reply. Currently the program can run after setting 'NUM_PROCESSES' in "*.yaml" 1.  I have some questions.

1. Once 'NUM_PROCESSES' was set a number larger than 1, I got an "raise EOFError" error. I'm not sure if it is caused by shortage of cuda memory. My current PC is with a single Geforece 1080, which is an old 8GB GPU.  Is it possible to run your program on a PC

[2020-12-26 22:18] srama2512 commented on #17
Hi @vincent341,

1. You could try NUM_PROCESSES=4 and reduce MAPPER.map_batch_size significantly (from 420 to say 16). We have not tested on an 8GB GPU unfortunately. All our experiments were run on 8 GPUs, each with a memory of 16/32 GB for around 2 days.
2. NUM_PROCESSES controls the number of parallel habitat environment instances. Ideally, you should try to have 6 environments per GPU on a 16

[2021-01-04 14:25] vincent341 commented on #17
Hi @srama2512 ,

Thanks so much for your detailed explanation.  It truely helps a lot.

[2021-01-08 13:49] Abundant-me opened #19 "Problem of hyper-parameter"
Thanks for your great work. I have a problem with the settting of hyper-parameters. In supplementary materials of the paper, part S8 gives some implementation of hyper-parameters. I am in doubt that the setting is for which kind of experiment? Is it corresponding to the occant_rgbd exploration on Gibson? But it is different with the default setting in ‘configs/model_configs/occant_rgbd/ppo_explora

[2021-01-11 15:24] srama2512 commented on #19
As we have stated in the README, this is a well-tuned version of the model we submitted to the habitat-20 challenge.

[code]

I would recommend using the provided configs as they generally tend to work well and train fast. We currently do not support training on the settings we used in the paper. However, we have provided the models + evaluation instructions in the eccv_2020_eval branch for replic

[2021-01-14 20:30] rpartsey commented on #11
Resolved. Closing the issue.

[2021-01-14 20:30] #11 closed

[2021-01-19 14:31] vincent341 opened #20 "A question about computing the area of environments"
Hello. The paper says

Would you mind giving me any hint on computing the area/size of the enviroment? How do you compute and obtain it? Which lines of code in the project are responsible for computing the area of the environment?

Your response would be highly appreciated.

[2021-01-22 02:32] JeremyLinky opened #21 "Question in updating collision maps in ans.py."
The t2 is equal to "global_pose[i, 2].item() - math.pi / 2", and then I visualize the collision map, finding that the collision you set is in front of the "global_pose[i, 2].item() - math.pi / 2"  instead of the direction of agent's pose, which is "global_pose[i, 2].item()".  Can you explain that? Much appreciate!!

[2021-01-22 07:37] srama2512 commented on #20
Hi. These can be computed using the environment layouts generated in [generate_environment_layouts.py](https://github.com/facebookresearch/OccupancyAnticipation/blob/master/occant_baselines/generate_topdown_maps/generate_environment_layouts.py).

Area = # free-cells * map_scale^2

We computed this on a per-episode basis rather than a per-scene basis since our navigation was limited to a single flo

[2021-01-22 07:37] #20 closed

[2021-01-22 07:38] #19 closed

[2021-01-22 07:55] srama2512 commented on #21
There are two coordinate systems involved here.

(1) For the purposes of tracking the agent's 2D pose in the world map, we assume the following conventions: agent starts at the map center --- (0, 0) --- with X as forward, Y as rightward, and heading as positive starting from X to Y.

(2) We also use the standard image indexing for addressing the 2D map and for setting subgoals for planning. Here,

[2021-01-22 08:07] JeremyLinky commented on #21
Thanks for your reply!

[2021-01-22 08:07] #21 closed

[2021-01-22 11:26] vincent341 commented on #20
Hi @srama2512 ,

Thanks very much for your reply. By Area, does it mean the navigable area or the total area of the environment?

[2021-01-22 15:18] srama2512 commented on #20
The navigable area (only free cells, not occupied).

[2021-01-22 17:46] #13 closed

[2021-01-23 13:05] JeremyLinky opened #22 "Question about path planning."
Hi, I visualize the "wall" in collision map (plot in orange), and the planning path (plot in purple), finding that the path can sometimes still across the "wall". I don't know why. Can you provide some reasons for that? Much appreciate!
![image](https://user-images.githubusercontent.com/50053052/105578947-a480b580-5dbe-11eb-8775-e44eb42730c2.png)

[2021-01-24 04:07] srama2512 commented on #22
The colorscheme of the map (see Fig. 5 [here](http://vision.cs.utexas.edu/projects/occupancy_anticipation/main.pdf)) is:

- Dark and light green are regions classified as occupied by the model.
- Gray and purple are regions classified as free by the model.
- When compared to the ground-truth map, the light green and gray predictions are incorrect. Dark green and purple are correct predictions.

He

[2021-01-24 05:21] JeremyLinky commented on #22
Thanks for your reply! But it seems that  you haven't figure out my question. My question is why can the planned path pass through the obstacle after the obstacle is set in front of the agent on the collision map? The obstacles are drawn in orange and the planned path is drawn in dark purple as below.
![image](https://user-images.githubusercontent.com/50053052/105621748-ff112480-5e45-11eb-99a8-ee9

[2021-01-24 06:37] srama2512 commented on #22
Oh, sorry about that. I misunderstood the question. This is interesting. Could you provide more details about how the orange lines were generated, and confirm whether the updated map is sent to the planner or not?

[2021-01-24 07:29] JeremyLinky commented on #22
1. The orange lines represent the obstacle in front of the agent if a collision happens. It is from your original code:
![image](https://user-images.githubusercontent.com/50053052/105623776-68e5fa00-5e57-11eb-8e1c-47cbf1fc7c88.png)

And I just plot the points set as 1 in the collision map as below.
![image](https://user-images.githubusercontent.com/50053052/105623856-0b9e7880-5e58-11eb-8cac-53d371

[2021-01-24 16:11] srama2512 commented on #22
Thank you for providing the details. This sounds about right. Can you also share how you are plotting the planner outputs?

[2021-01-25 01:44] JeremyLinky commented on #22
Thanks for your reply. I save the path in function _compute_plans_and_local_goals( ) as below.
![image](https://user-images.githubusercontent.com/50053052/105651393-b6af4080-5ef1-11eb-9a4b-b7ec5f32a754.png)

And I plot it like:
![image](https://user-images.githubusercontent.com/50053052/105651453-e9f1cf80-5ef1-11eb-97fe-a9bfc5d9f4df.png)

[2021-01-27 00:42] srama2512 commented on #22
It looks like the issue might be happening within the planner rather than the ActiveNeuralSlamExplorer. Is it possible for you to share the planner map (the purple and yellow map), start and goal positions with me? I can run the planner locally and check what the issue is.

[2021-01-27 07:21] JeremyLinky commented on #22
Thanks for your kind reply! Here, I provide the global_map、global_map_proc、goal_map_xy、agent_map_xy for you in a ".npz" file as the form of numpy array .  These variables appear in the following locations when they are saved :
![image](https://user-images.githubusercontent.com/50053052/105955688-a2b23d00-60b1-11eb-8afd-e7bb18e8e395.png)

You can first unzip the following file and then use x=np.loa

[2021-01-30 15:20] vincent341 opened #23 "AttributeError: 'NoneType' object has no attribute 'dim'"
I tried to reproduce the **OccAnt(GT)** results by running
`python -u run.py --exp-config configs/model_configs/occant_ground_truth/ppo_exploration.yaml --run-type train`.

But got the following error
[code]
I traced the error. It comes from [the following lines](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/occant_baselines/rl/policy_utils

[2021-01-30 15:24] vincent341 commented on #20
Thanks so much!

[2021-02-07 07:36] srama2512 commented on #22
Hi @JeremyLinky , sorry about the latency on this issue. I tried running `pyastar.astar_planner` on the map you sent. The result I got makes sense (see below). I'm not sure where exactly your issue is coming from. My intuition is that the (x, y) conventions may have been incorrect somewhere along the way. Could you please check this once and let me know?

<img width="604" alt="topdown_map" src="ht

[2021-02-07 07:58] srama2512 commented on #23
@vincent341  Thank you for pointing this out. I've pushed a fix in the ["fix_occant_ground_truth" baseline](https://github.com/facebookresearch/OccupancyAnticipation/commit/dd9f9e8c886aa346af5b2cb643b73aa212c4697b). I tested this locally and it works. Please let me know if it works for you as well. I'll merge it into master after that.

[2021-02-07 08:21] JeremyLinky commented on #22
Thank you for your patience! I took a closer look at the codes of the project, and found that before sending the map to the path planning, it also cropped the processed map in the codes. I guess this is the problem.

The a* algorithm is completely fine, but before handing over the map to the a* algorithm, it crops the map around the midpoint of the line connecting the agent position and the goal p

[2021-02-07 20:05] srama2512 commented on #22
This totally makes sense. Yes, I added the padding outside there to prevent the agent's plans from completely failing due to the cropping. However, this is an approximation which was needed to finish evaluating within the time-limits for the habitat challenge. If computational time is not a concern, I would recommend planning on the full map. Please feel free to close the issue if this resolves it

[2021-02-08 02:23] JeremyLinky commented on #22
Thanks for the kind reply !!

[2021-02-08 02:23] #22 closed

[2021-02-08 08:13] JeremyLinky opened #24 "Why is the MAX_EPISODE_STEPS set to 1001 instead of 1000?"
Hi, I noticed that MAX_EPISODE_STEPS is set to 1001 instead of 1000 in the config file during training, but T_EXP is set to 1000, which is not consistent. However, in the test, MAX_EPISODE_STEPS and T_EXP are the same, both are 500. Could you tell me the reason? Thanks!

[2021-02-09 02:19] vincent341 commented on #23
@srama2512 Thanks very much for your quick update. I'm running it. I will let you know the result once it is over.

[2021-02-09 08:10] vincent341 commented on #24
Should we set MAX_EPISODE_STEPS the same value with T_EXP in the test? It seems that once _time step_>_MAX_EPISODE_STEPS_, the algorithm switches to process another episode data in _eval__checkpoint() of occant_exp_trainer.py.

[2021-02-10 17:22] srama2512 commented on #24
Reset is manually called during training. The idea behind 1001 is that the episode should not end within the simulator before it is reset by the training script (see [here](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/occant_baselines/rl/occant_exp_trainer.py#L1288-L1328)). Technically, it can be any value larger than 1000. Nothing special

[2021-02-10 17:22] #24 closed

[2021-02-11 03:40] JeremyLinky opened #25 "Why is the rl used for training the local policy and heuristics used for testing?"
Hi, I notice that there is no config file for testing in  configs/model_configs/occant_rgbd, but  in  configs/model_configs/occant_depth, I found ppo_exploration.yaml and ppo_exploration_evaluate_noise_free.yaml, which are respectively for training and testing. I compared the two files and found that the local policy for training is rl, and the heuristic is used for testing.  Does this mean that t

[2021-02-13 03:37] vincent341 commented on #23
@srama2512 The following training can run smoothly now;
`python -u run.py --exp-config configs/model_configs/occant_ground_truth/ppo_exploration.yaml --run-type train`

But when I tried to evaluate the checkpoint by running the following command;
`python -u run.py --exp-config configs/model_configs/occant_ground_truth/ppo_exploration_eval.yaml --run-type eval`

The **same** error occured again. It

[2021-02-19 17:32] srama2512 commented on #25
Hi @JeremyLinky

From our experiments, we observed that using the heuristic policy gives the best results for the noise-free setting and the learned policy gives the best results for the noisy setting. This is across all methods, not specific to OccAnt. By default, we train on the noisy setting. That is why the local policy is learned during training.

[2021-02-19 17:32] #25 closed

[2021-02-28 06:42] JeremyLinky opened #26 "How to ensure that when using the same experimental setup, the model results after two runs are consistent?"
Hi, I noticed that you have used these following codes to generate a random number of a specific seed so that the result is deterministic,
`    random.seed(config.TASK_CONFIG.SEED)
`
`
    np.random.seed(config.TASK_CONFIG.SEED)
`
`
    torch.manual_seed(config.TASK_CONFIG.SEED)
`
But the truth is , when I use the same experimental setup to run for two times, the results of the same model (eg. ckp

[2021-02-28 15:32] vincent341 opened #27 "What if train the modules individually?"
It seems that the method consists of three modules, a mapper/occupancy anticipator, a Global policy and a Local policy. The three modules are trained simultaneously. Would you mind letting me know if it is possible to train the three modules individually?

Taking training the Global policy for example, replace the outputs of the mapper with the ground truth, the local policy with a heuristic metho

[2021-03-30 02:55] srama2512 commented on #26
Hi, unfortunately, I was not able to get complete replicability by setting the random seeds. There could be multiple reasons for this either within habitat or our own code. However, in experiments we ran post acceptance, we found that the trends for the different models did not change when we trained and evaluated with 3 random seeds.

[2021-03-30 02:59] JeremyLinky commented on #26
Thanks for the reply!!

[2021-03-30 02:59] #26 closed

[2021-03-30 02:59] srama2512 commented on #27
This is currently not supported in the code, but you could try hacking the code easily to try it out. The problem with such a pipeline might be that it involves too many moving parts and it might increase your experimental life-cycle. When compared to the complexities introduced by having such a pipeline, I also don't see a big advantage to doing this when compared to joint training. Right now, it

[2021-04-22 00:53] srama2512 commented on #27
Closing this due to lack of activity. Please feel free to open it if you have further questions.

[2021-04-22 00:53] #27 closed

[2021-04-22 11:07] vincent341 commented on #27
Thanks very much for your explanation!

[2021-05-17 12:28] zxwang96 opened #28 "actuation noise"
Hi, I was wondering where can I find the noisy task action registry? I only found "MOVE_FORWARD", "TURN_LEFT", "TURN_RIGHT" in the config files and assume they are noisy-free. Thank you.

[2021-05-18 00:40] srama2512 commented on #28
Hi @zxwang96,

You can take a look at [this config file](https://github.com/facebookresearch/OccupancyAnticipation/blob/master/configs/exploration/gibson_evaluate_noisy.yaml) for an example on using noisy actuation. This is implemented in [habitat-lab](https://github.com/facebookresearch/habitat-lab/blob/7964c9ee9fd9bda01ad8709981debb9f408646d6/habitat/sims/habitat_simulator/actions.py#L137-L191).

[2021-05-19 04:38] zxwang96 commented on #28
Oh, thanks, I see, so you use the built-in implementation of noisy actuation. Then I'd like to ask another question. In your paper, you compared Occant with ANS under noisy situations. But ANS uses collected noise of actuation and sensors as mentioned in their paper. I was wondering how did you justify the comparison result between Occant and ANS with different noise settings? Did you just replace

[2021-05-19 05:40] srama2512 commented on #28
Well, the justification is this:  we perform an apples-to-apples comparison under the same conditions (both noisy and noise-free). Since the ANS implementation wasn't available when our work was published, we had to use an approximation. However, I don't expect the results to change much. Our contribution was to improve the mapping while keeping the rest of the components same as the ANS baseline

[2021-05-19 05:59] zxwang96 commented on #28
Gotcha, thanks for your answer! I'll close this issue.

[2021-05-19 05:59] #28 closed

[2021-05-22 21:57] fraazor opened #29 "Mapper training during policy training"
Hi there,

I have been working on a variation to the projection unit to add a different type of "fog of war" approach for the sensors. However I do not fully understand the code implementation because the mapper training and policy training seem to happen simultaneously. Wouldn't that lead to sorted, correlated data/label pairs in the supervised part? Is there some shuffling happening that I am mi

[2021-05-23 20:56] Singh-sid930 opened #30 "Not able to load trained models"
Hi,
I am trying to load the OccAnt(depth) models but to no luck. Getting the following errors :
[code]
I am not doing evaluations through your code base but rather trying to replicate the test_occant.py file.

[code]

I tried using the specific state dics like mapper_state_dict, but that also does not match with the model's state dict.

[2021-05-23 21:08] Singh-sid930 commented on #30
Missing whole lot of keys too
[code]

[2021-05-24 17:59] srama2512 commented on #29
We have a large [replay buffer](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/occant_baselines/common/rollout_storage.py#L265-L368) that stores data over multiple episodes. We randomly sample data from this buffer to break the correlation in data.

[2021-05-24 18:03] srama2512 commented on #30
This is likely because of a mismatch between the model checkpoint and the config. Did you try using this [config](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/configs/model_configs/occant_depth/ppo_exploration.yaml)?

[2021-05-26 05:50] Singh-sid930 commented on #30
So I tried that and it gave me the same error. However I notice something :
Example of missing keys :
[code]

Example of unexpected keys :

[code]

Seems like `mapper.project_unit.main.main.` is just an additional string attached .

[2021-05-26 19:03] fraazor commented on #29
Thanks a lot. I might have to train them seperately since I have not enough memory for such a large replay buffer.

[2021-05-26 19:03] #29 closed

[2021-05-30 13:49] srama2512 commented on #30
@Singh-sid930  - sorry for the late response. The above snippet will not work. You should be following the conventions used in the [trainers](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/occant_baselines/rl/occant_exp_trainer.py) for loading the defining and loading the model. [Here](
https://github.com/facebookresearch/OccupancyAnticipati

[2021-05-31 23:04] Singh-sid930 commented on #30
In the meantime I had got this working by doing this small hack. I could tried the above method which didn't work correctly. High chance I am doing something wrong so I will try it out later.
But just to confirm, the occAntDepth model class pertains to the this model : https://dl.fbaipublicfiles.com/OccupancyAnticipation/pretrained_models/occant_depth_ch/ckpt.13.pth
And inside this model, thee "ma

[2021-06-01 16:18] srama2512 commented on #30
Yes. That checkpoint corresponds to OccAnt(depth). The method for loading the checkpoint looks good to me.

q1 - For non-anticipation models, channel 1 indicates whether that part of the space was observed or not (unobserved is 0, observed is 1). For anticipation models, channel 1 indicates the model's confidence about its prediction for that part of the map. Note that an anticipation model does n

[2021-06-01 17:17] Singh-sid930 commented on #30
By input I mean the dict that is to be sent to the model which in the case of OccAntDepth is
[code]
And output is then

[code]

q3 : for the output also channel 0 = occupancy probability , channel 1 = prediction confidence ?
q6: in the input of ego_map_gt is the map (the top down occupancy) a snapshot of the current step or the accumulation of all the past steps in the episode.

q1: quick clarific

[2021-06-02 16:36] srama2512 commented on #30
`ego_map_gt` is basically the geometric projection of the depth sensor readings (non-anticipation). So the q1 response applies.

[Here](https://github.com/facebookresearch/OccupancyAnticipation/blob/073651bfb66f412a160eddec4574a74b0a3d66a0/occant_baselines/rl/occant_exp_trainer.py#L905-L908) is a reference for how `ego_map_gt` is computed.

[2021-06-20 23:54] srama2512 commented on #30
Closing this issue since the questions were addressed. Please feel free to re-open it if there are any more.

[2021-06-20 23:54] #30 closed

[2021-07-01 19:27] srama2512 commented on #23
Fixed in https://github.com/facebookresearch/OccupancyAnticipation/pull/31

[2021-07-01 19:27] #23 closed

[2021-07-02 01:28] vincent341 commented on #23
Thanks for the update!

[2021-07-02 01:29] srama2512 commented on #23
Sorry about the latency. Finally got around to fixing it. It was a configuration issue specific to this baseline.

[2021-07-19 06:48] AgentEXPL opened #32 "How is "done" variable being defined in exploration task?"
Hello, I observe the following code in habitat_extensions/exploration_demo.py. And I am confused how is the value of "done" being computed.
------------------------------------------------------------
while True:
    obs, reward, done, info = env.step(action)
    if done:
        obs = env.reset()
------------------------------------------------------------

Apart from the maximum number of steps

[2021-07-19 07:54] AgentEXPL commented on #32
Sorry for asking. I have found the answer by checking the code in habitat module.

[2021-07-19 07:54] #32 closed, assigned to nobody

[2021-08-09 13:20] AgentEXPL opened #33 "What's does height_thresh means when generating map?"
In habitat_extensions.config.default.py, the following parameters are used. What do they mean?

_C.TASK.GT_EGO_MAP.HEIGHT_THRESH = [0.2, 1.5]
_C.TASK.GT_EGO_WALL_MAP.HEIGHT_THRESH = [0.2, 1.5]
_C.TASK.GT_EGO_MAP_ANTICIPATED.HEIGHT_THRESH = [0.2, 1.5]

[2021-08-11 14:03] srama2512 commented on #33
These thresholds are used to classify what obstacles are in the map. Any point in the point-cloud that has height within these thresholds is an obstacle (for `GT_EGO_MAP`, `GT_EGO_MAP_ANTICIPATED`). In the case of `GT_EGO_WALL_MAP`, the threshold defines what points are walls (not any objects). The default value is not particularly great for the wall. Look [here](https://github.com/facebookresearc

[2021-08-12 11:39] AgentEXPL commented on #33
Thanks a lot for your clear explanation.

[2021-08-12 11:39] #33 closed, assigned to nobody

[2021-08-16 04:13] AgentEXPL opened #34 "RuntimeError when running run.py for training"
When I tried to train a model for ans_depth via the command "python -u run.py --exp-config configs/model_configs/ans_depth/ppo_exploration.yaml --run-type train", the following error occurs ("RuntimeError: inverse_cuda: For batch 0: U(360710144,360710144) is zero, singular U."). I have no idea on how the error is generated. Is it caused by incorrect installed environments, or other things? I follo

[2021-08-18 00:58] AgentEXPL commented on #34
Sorry for asking, I've found the reason. It is caused by unmatched versions between cuda and pytorch.

[2021-08-18 00:58] #34 closed, assigned to nobody

[2021-08-19 09:25] AgentEXPL opened #35 "How to set appropriate values in .yaml file to avoid low GPU-uti but high GPU Memory-usage?"
I used torch==1.9.0 and cuda=11.1, with two A40 GPUs. The code could work if "fill_value" is removed from the inputs to scatter_max function in Line 78 in [mapnet.py](https://github.com/facebookresearch/OccupancyAnticipation/blob/master/occant_baselines/models/mapnet.py) .
The fps is nearly 30.

What confuses me is that the "GPU-util" is extremely low (<10%) and the "GPU Memory-usage" is high (nea

[2021-08-22 10:29] AgentEXPL opened #36 "Normalization of image in Mapper"
In Mapper (Line 276 in [policy.py](https://github.com/facebookresearch/OccupancyAnticipation/blob/eccv_2020_eval/occant_baselines/rl/policy.py) ), the input image is processed by "process_image" function, which tries to normalize image. However, the img_mean and img_std are not computed from the distribution of image but set as fixed value from config. I do not understand the reason why to do like

[2021-08-27 05:02] srama2512 commented on #36
This normalization was intended to be used with imagenet pre-trained CNNs originally. That's why they're set to those fixed values. Even for training from scratch, I think these should be reasonable values.

[2021-08-28 06:37] AgentEXPL commented on #36
Got it, thanks!

[2021-08-28 06:37] #36 closed, assigned to nobody

[2021-08-28 06:41] AgentEXPL commented on #35
I would like to close this issue sicen I got the appropriate values after trying several times.

[2021-08-28 06:41] #35 closed, assigned to nobody

[2021-08-28 16:27] srama2512 commented on #35
Hi @AgentEXPL. Thank you for bringing up this issue. I've only trained this model with 8 GPUs and 16/32GB memory per GPU. So I don't have a good answer to this. But this is something valuable to know for others in the community. Can you send a pull request to the README on how you resolved this?

[2021-08-30 05:31] AgentEXPL commented on #35
Hi @srama2512 . Actually, I am not sure whether my answer is the right answer. I only test two models: ans_depth model and occant_depth model. From my experience, the GPU for SIMULATOR would occupy relatively high GPU-memory with low GPU-util when the NUM_PROCESSES is relatively high. The NUM_PROCESSES can be set according to the total memory of the GPU, where each process would occupy nearly 2~3G

[2021-09-01 13:15] AgentEXPL opened #37 "How to generate episode datasets for exploration task after changing the height and radius of agent?"
Since I have changed the height and radius of the agent, some points in the original episode dataset may not be navigable. How could I re-generate episodes?

[2021-09-02 18:32] srama2512 commented on #37
We're currently using PointNav episodes for exploration as well. So you can use this generation script and adapt it to the agent size.

https://github.com/facebookresearch/habitat-lab/blob/master/habitat/datasets/pointnav/pointnav_generator.py

[2021-09-03 00:58] AgentEXPL commented on #37
Got it, thanks a lot.

[2021-09-03 00:58] #37 closed, assigned to nobody

[2021-09-09 20:10] tigerschweiger opened #38 "No module named 'habitat_baselines.common.env_utils'"
When I at # Gibson splits and insert the command
"python occant_baselines/generate_topdown_maps/generate_occant_gt_maps.py", it occured
ModuleNotFoundError: No module named 'habitat_baselines.common.env_utils'

Could anyone help me?

[2021-09-14 07:18] AgentEXPL commented on #17
Hi, @srama2512 . Based on the config parameters, the number of global updates `NUM_GLOBAL_UPDATE` can be computed as NUM_EPISODES * (T_EXP // (NUM_GLOBAL_STEPS * goal_interval)) // NUM_PROCESSES = 10000 * (1000 // (20 * 25)) // 36 = 555.
In normal case, how many times of updates are needed for a DRL network model to achieve a good performance? Previously I thought that at least ten thousands of up

[2021-09-14 07:23] AgentEXPL commented on #38
Maybe this has been solved in Issue [1](https://github.com/facebookresearch/OccupancyAnticipation/issues/1).

[2021-09-15 16:34] srama2512 commented on #38
@tigerschweiger  This looks like an error with the [habitat-lab installation](https://github.com/facebookresearch/habitat-lab#installation). The habitat-lab directory should be in PYTHONPATH after installation.

[2021-09-20 11:34] jaidevshriram opened #39 "Custom Dataset Evaluation"
Hey!

I'm trying to run the OccAnt model on my dataset, with the aim of generating the top-view maps - not concerned with the RL pipeline or pose estimation at the moment. How can I go about loading a pretrained model and run **just** the mapper module. It seems that the RL pipeline is tightly coupled with this, so I'm facing some trouble using my dataset.

Here's what I've tried so far:

[code]

[2021-09-21 21:56] srama2512 commented on #39
Hi @jaidevshriram,

The model currently depends on having RGB-D + odometry inputs. I don't see a way to get around having no pose inputs whatsoever. The pre-trained models are trained to handle a specific noise model in the odometer sensor (see code [here](https://github.com/facebookresearch/OccupancyAnticipation/blob/aea6a2c0d9701336c01c9c85f5c3b8565d7c52ba/habitat_extensions/sensors.py#L113-L243

[2021-09-30 10:27] jaidevshriram commented on #39
Thanks! I think I got it working now. I was interested in using just the OccAnt model, not the mapper, so using just RGB, Depth and ego map as inputs worked.

[2021-10-01 23:37] srama2512 commented on #39
Glad to hear that @jaidevshriram . I'm closing this for now. Please feel free to open it in case you have further questions.

[2021-10-01 23:37] #39 closed, assigned to nobody

[2021-10-12 19:39] srama2512 commented on #38
Closing this issue due to inactivity. Please feel free to re-open it if the issue has not been resolved already.

[2021-10-12 19:39] #38 closed, assigned to nobody

[2021-11-04 09:01] franciscojferrari opened #40 "Run OccupancyAnticipation in Colab"
Dear Team,

I would like to use and test the OccupancyAnticipation project for a university course however I don't have access to a local machine with CUDA and I would like to run your repo in Colab. I've tried to follow your instructions directly in Colab without success. Do you have an idea if it is possible to run it in Colab?

Thanks!
Francisco

[2021-11-06 06:10] srama2512 commented on #40
Hi @franciscojferrari ,

Unfortunately, no. I have not tried setting this up on Colab. What type of errors do you get when you try this?

[2021-11-08 09:51] AgentEXPL opened #41 "What's the behind meaning of "GT_TYPE: wall_occupancy" in the configuration .yaml file?"
In the configuration file, the following is described for the GT_EGO_MAP_ANTICIPATED. What will happen if the GT_TYPE is selected as "wall_occupancy". Are there other types, and what are the meaning of the other types?
-----------------------------------------------------------------------------------------------------------------------------
  GT_EGO_MAP_ANTICIPATED:
    MAP_SIZE: 101
    MAP_SCA

[2021-11-17 10:59] StOnEGiggity opened #42 "Unexpected results for pre-trained model"
Hi,

Thanks for your work~

I evaluate three different pre-trained models (ANS(rgb), OccAnt(depth) and OccAnt(depth) with challenge vision) with the noise-free setting. However, the SPL and Success seem almost zero. I guess there may be some mistakes in my own evaluation config. Is that possible to provide the corresponding evaluation script?

By the way, the model that I trained from scratch perf

[2021-11-25 08:48] #40 closed, assigned to nobody

[2021-11-28 20:42] narekvslife opened #43 "RuntimeError: inverse_cuda: For batch 0: U(163642880,163642880) is zero, singular U"
Hi everyone!

I am running a docker image on google.cloud instance with nvidia K80. Trying it with three different base images:

nvidia/cudagl:10.0-devel-ubuntu18.04
nvidia/cudagl:10.1-devel-ubuntu18.04
nvidia/cudagl:10.2-devel-ubuntu18.04

Dockerfile follows the steps from the README + additional steps for downloading the gibson dataset and additional configs.

nvidia-smi and nvcc work as expecte

[2021-11-28 20:47] narekvslife commented on #43
Additional information:

I build the following Dockerfile and run
[code]
inside

FROM nvidia/cudagl:10.2-devel-ubuntu18.04
ENV DEBIAN_FRONTEND noninteractive
RUN apt-get update \
 && apt-get install --no-install-recommends -y \
                    build-essential \
                    ca-certificates \
                    wget \
                    curl \
                    unzip \

[2021-11-29 14:54] narekvslife commented on #43
UPDATE

Random permutations of uninstalling and installing made everything work..

nvidia/cudagl:10.1-devel-ubuntu18.04
python==3.7.11
torch==1.4.0
torchvision==0.5.0
torch-scatter==1.3.1

[2021-11-29 14:54] #43 closed, assigned to nobody

[2022-01-16 02:57] ishikasingh opened #45 "mp3d configs"
I was wondering if it is possible to release mp3d exploration eval config files/models as well (those mentioned in the paper)?
Thanks!

[2022-01-25 03:51] srama2512 commented on #41
We consider two strategies for generating the ground-truth occupancy for anticipation. The one described in the paper in [supplement section S5](https://arxiv.org/pdf/2008.09285.pdf) will be used if GT_TYPE is set to `grown_occupancy`.  However, during our challenge submission (post the ECCV paper submission), we noticed that this strategy can cause the occupancy from other rooms to be included. T

[2022-01-25 03:53] srama2512 commented on #42
Hi @StOnEGiggity,

I'm afraid I need more information to suggest what steps you need to take. Could you provide me with the config, model paths, and the commands used for evaluation?

[2022-01-25 03:54] srama2512 commented on #45
Hi @ishikasingh,

You can find the MP3D configs here: https://github.com/facebookresearch/OccupancyAnticipation/tree/main/configs/exploration

We don't train any models on MP3D. We evaluate the Gibson models on MP3D to test cross-dataset transfer.

[2022-01-26 19:27] ishikasingh commented on #45
I tried using these but the mp3d configs end up running on gibson data. I think you use another file on top of the files in the folder you shared, of the form ppo_exploration.yaml (with some extra params). It would be great if you can share those configs for mp3d!

[2022-02-15 15:19] marcopremigit opened #46 "RuntimeError: Error(s) in loading state_dict for Mapper:"
Hi,
I'm trying to evaluate OccAnt(depth) checkpoint ([ckpt.11.pth]) using the yaml file  ppo_navigation_evaluate_noisy.yaml provided [https://github.com/facebookresearch/OccupancyAnticipation/blob/main/configs/model_configs/occant_depth/ppo_navigation_evaluate_noisy.yaml](url).
The problem is that it outputs:
`I0215 15:12:23.423159 3373 simulator.py:170] Loaded navmesh data/scene_datasets/gibson/C

[2022-11-04 08:19] G-raku opened #47 "What does map_size mean?"
Hello. Please tell me about `map_size`.
I guessed that `map_size` in ` configs/model_configs/*/ppo_exploration.yaml` meant the local map size (V) in the paper.
In the paper, even though the local map size (V) is 101, `map_size` in [configs/model_configs/occant_rgb/ppo_exploration.yaml](https://github.com/facebookresearch/OccupancyAnticipation/blob/main/configs/model_configs/occant_rgb/ppo_explorat